* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: digital-7;
  src: url(/fonts/digital-7.ttf);
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: rgb(242, 242, 242);
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calculator {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  gap: 15px;
  background-color: hsl(152, 16%, 62%);
  width: 18rem;
  height: 27rem;
  border-radius: 1rem;
  flex-shrink: 0;
}

.display {
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: hsl(180, 19%, 86%);
  padding: 0 0.5rem;
  border-radius: 0.3rem;
  font-size: 3.7rem;
  font-family: "digital-7", monospace;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 10px;
  flex-wrap: wrap;
  gap: 10px;
}

button {
  font-size: 1.5rem;
  min-width: 48px;
  min-height: 48px;
  border-radius: 24px;
  border: none;
}
